@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --bg-header: 222deg 45% 12%;
        --bg-features: 240deg 55% 9%;

        --color-text: 0deg 100% 100%;
        --color-text-inverted: 0deg 100% 0%;

        --color-primary: 195deg 100% 55%;
        --color-generate: 350deg 65% 55%;
        --color-verify: 155deg 75% 60%;
        --color-solve: 45deg 75% 60%;

        --header-height: 90px;
        --hero-height: calc(100dvh - var(--header-height));
    }
}
